.board-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100dvh;
}
.board {
  background-color: rgb(28, 29, 29);
  display: grid;
  grid-template-columns: repeat(3, 75px);
  grid-template-rows: repeat(3, 75px);
}

.cell-container {
  cursor: pointer;
}

.cell-container:hover {
  background-color: rgb(41, 41, 41);
}

.cell-container > img {
  width: 100%;
}

.highlight {
  background-color: var(--primary);
}

.highlight:hover {
  background-color: var(--primary);
}

.info-panel {
  min-width: 2em;
  margin-top: 2em;
  height: 3rem;
}
